<a href="https://colab.research.google.com/github/chryu314/pythonbasicclass/blob/main/Python_Basic_Day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 116 page

#for 반복문 , 주로 반복횟수를 명확히 알고 있을 때 사용.

# for 변수 in 반복객체:
#   반복실행

for i in [1,2,3]:
  print(i)

1
2
3

In [3]:
for i in 'Hello':
  print(i)

H
e
l
l
o

In [4]:
for item in ['가위','바위','보']:
  print(item)

가위
바위
보

In [5]:
# 리스트 내포 : for 문을 이요해서 리스트를 간단히 생성한다.

[n*2       for n in [1,2,3]]

[2, 4, 6]

In [6]:
[n*2     for n in [1,2,3,4,5]      if n%2 == 1]

[2, 6, 10]

In [28]:
for_seasons = ('Spring','Summer','Autumn','Winter')
for season in for_seasons:
  print(season)

Spring
Summer
Autumn
Winter

In [39]:
# range()
# 정수 범위를 만들어 낼때 유요한 아주 많이 for문과 사용되는 함수

# range(start, stop, step)  # start(0부터), step(1씩 증가) 은 생략 가능

print(list(range(5))) # start생략, step생략 0,1,2,3,4   0부터 5미만
print(list(range(1,11)))#step만 생략 1부터 11미만 
print(tuple(range(5)))

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(0, 1, 2, 3, 4)

In [14]:
for i in range(5):
  print(i)

0
1
2
3
4

In [18]:
for i in range(1,11):
  print('Hi')

Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi

In [19]:
for item in ['가위','바위','보']:
  print(item)

가위
바위
보

In [23]:
person = {
    'name':'에밀리',
    'age':20
}
for item in person:
  print(item)

name
age

In [24]:
person = {
    'name':'에밀리',
    'age':20
}
for item in person:
  print(item,person[item])

name 에밀리
age 20

In [30]:
# 129
# 1

for i in range(5,0,-1):
  print(i)

5
4
3
2
1

In [35]:
# 2

no = int(input('임의의 양수를 입력하세요 >>> '))
sum = 0   #초기값 설정
for i in range(1,no+1):
  sum = sum + i # sum += i
  print(sum)
print(f'1부터 {no}사이 모든 정수의 합계는 {sum}입니다. ')

임의의 양수를 입력하세요 >>> 3
1
3
6
1부터 3사이 모든 정수의 합계는 6입니다.

In [38]:
# 3
no = int(input('몇 개의 과일을 보관할까요?>>> '))
fruits = []
for i in range(1,no+1):
  fruit = input(f'{i}번째 과일을 입력하세요 >>> ')
  fruits.append(fruit)

print(f'입력받은 과일들은 {fruits}입니다. ')

몇 개의 과일을 보관할까요?>>> 3
1번째 과일을 입력하세요 >>> apple
2번째 과일을 입력하세요 >>> banana
3번째 과일을 입력하세요 >>> cherry
입력받은 과일들은 ['apple', 'banana', 'cherry']입니다.

In [40]:
# 4

exam = [99,78,100,91,81,85,54,100,71,50]

exam2 = []
for i in exam:
  if i >= 95:
    exam2.append(100)
  else:
    exam2.append(i+5)
    
print(exam2)

[100, 83, 100, 96, 86, 90, 59, 100, 76, 55]

In [41]:
# break

# while 문이나 for문에서 반복을 강제로 종료시킬때 사용

n = 1 
while n <= 10:
  print(n)
  n +=1

1
2
3
4
5
6
7
8
9
10

In [43]:
n = 1 
while True:
  print(n)
  if n == 10:
    break
  n +=1

1
2
3
4
5
6
7
8
9
10

In [45]:
# continue

# 반복 도중에 continue를 만나면 더이상 아래로 내려가지 않고 
# 다시 반복문으로 진입한다.

total = 0 
for a in range(1,101):
  if a % 3 == 0: #3의 배수 찾기 
    continue     #3의 배수를 제외한 합
  total += a
print(total)

3367

In [48]:
# page 141
# 1

cash = 10000

while True:
  print(f'현재 {cash}원이 있습니다.')
  if cash == 0:
    break
  pay = int(input('사용할 금액입력 :>>>'))
  if pay <= 0:
    print('0 이하의 금액은 사용할 수 없습니다.')
  elif pay > cash:
    print(f'{pay - cash}원이 부족합니다.')
  else:
    cash -= pay # cash = cash - pay

현재 10000원이 있습니다.
사용할 금액입력 :>>>5000
현재 5000원이 있습니다.
사용할 금액입력 :>>>-5000
0 이하의 금액은 사용할 수 없습니다.
현재 5000원이 있습니다.
사용할 금액입력 :>>>6000
1000원이 부족합니다.
현재 5000원이 있습니다.
사용할 금액입력 :>>>4000
현재 1000원이 있습니다.
사용할 금액입력 :>>>1000
현재 0원이 있습니다.

In [49]:
# 2
while True:
  score = int(input('이번 영화의 평점을 입력하세요 >>>'))

  if score >= 1 and score <= 5:
    print(f'평점 : {score * "★"}')
    break
  else:
    print('평점은 1~5 사이만 입력할 수 있습니다.')

이번 영화의 평점을 입력하세요 >>>10
평점은 1~5 사이만 입력할 수 있습니다.
이번 영화의 평점을 입력하세요 >>>-2
평점은 1~5 사이만 입력할 수 있습니다.
이번 영화의 평점을 입력하세요 >>>5
평점 : ★★★★★

aasd

In [51]:
# 3

password = 'qwerty'
tryno = 0
while True:
  if tryno == 5:
    print('비밀번호 입력 횟수를 초과했습니다.')
    break
  inpass = input('비밀번호를 입력하세요 >>> ')
  if password == inpass:
    print('비밀번호를 맞혔습니다.')
    break
  tryno += 1

비밀번호를 입력하세요 >>> sdf
비밀번호를 입력하세요 >>> asdf
비밀번호를 입력하세요 >>> sdf
비밀번호를 입력하세요 >>> fdfd
비밀번호를 입력하세요 >>> asdfsd
비밀번호 입력 횟수를 초과했습니다.

In [52]:
# 4

# 구구단 전체 출력하기 
for i in range(2,10):
  for j in range(1,10):
    print(f'{i} X {j} = {i*j}')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [53]:
# 4
# 구구단 홀수단 전체 출력하기 
for i in range(2,10):
  if i % 2 == 0:
    continue
  for j in range(1,10):
    print(f'{i} X {j} = {i*j}')

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [55]:
#4
# 각 단 까지만 출력 (교제)

for i in range(2,10):
  if i % 2 == 0:
    continue
  for j in range(1,10):
    if i < j:
      break
    print(f'{i} X {j} = {i*j}')
  print()

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81